.main-footer{
   background: var(--footer);
border-top-left-radius: 8px;
border-top-right-radius: 8px;
   color: rgba(255, 255, 255, 0.87);
  
   padding: 50px 0 100px 0;
  
     .continant-title{
         font-size: 18px;
         text-transform: uppercase;
         font-family: var(--font);
         color: white;
      }
  .par_continant{
   display: flex;
   gap: 20px;
   .continant , .asie_oceani{

    
    
   a{
         display: block;
         font-size: 13px;
         text-align: center;
         font-family: var(--font);
         margin-bottom: 10px;
         margin-top: 18px;
         padding: 3px 3px;
         border-radius: 5px;
         border: 1px solid rgba(255, 255, 255, 0.589);
        
         text-transform: capitalize;
   }
      }
  }
  
}


 
