.section-infos{
    padding-bottom: 20px 0;
    margin: 15px 0;

   
    


  .sections{
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
}

    .fleche{
      width: 35px;
      height: 35px;
      margin-top: 5px;
    }
    
     .d-fle{
      display: flex;
      align-items: center;
      gap: 0 5px;
    }
    .spans{
      background: var(--blues);
      width: 20px;
      display: block;
      height: 20px;
      border-radius: 100%;
    }
        .herder-sections-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
     
    }
    .herder-sections-header::after{
       content: '';
    position: absolute;
    top: 2px;
    display: block;
 
    background-color: var(--bars);
    width: 100%;
    height: 2px ;
    }
  .herder-sections-header::before{
       content: '';
    position: absolute;
    bottom:  2px;
    display: block;
 
    background-color: var(--bars);
    width: 100%;
    height: 2px ;
    }

    .herder-sections-header-title{
      font-weight: 500;
      font-size: var(--fsSize);
      font-family: var(--font);
      text-transform: capitalize;
    }

    .herder-corps:hover{
       text-decoration:underline var(--blues) 1.5px;
      transition: .3s;
      color: var(--blues);
}
  .herder-footer-category{
        font-family: var(--font);
        font-size: .875rem;
        text-transform: capitalize;

    }
     .herder-pays{
        font-size: .875rem;
        text-transform: capitalize;
        font-family: var(--font);
    }
    
    .herder-corps{
        font-family: var(--font);
        font-weight: 500;

        font-size: .875rem;
        padding: 10px 0;
      
        
    }
    .main-sections{
      height: 105px;
    }
   
      .main-sections:last-child::after{

        content: '';
        background-color: rgba(0, 0, 0, 0.486);
        display: block;
        width: 0%;
    
        margin-bottom: 10px;
        margin-top: 10px;
    }
     .herder-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .herder-footer-type{
        font-family: var(--font);
        font-style: italic;
        text-transform: capitalize;
         font-size: .875rem;

    }
    
    .herder-footer-category::before{
        content: '';
        background-color: var(--blues);
        border-radius: 100%;
        width: 12px;
        height: 12px;
        margin-right: 5px;
       
        display: inline-block;

    }
    .main-sections::after{
        content: '';
        background-color: rgba(17, 17, 17, 0.26);
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
  }


  @media only  screen and (min-width:800px) {

      .sections-flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px 20px;

      }
}