

.main-grids{

    .main-grid-title{
        text-transform:capitalize;
        font-size: 1.4375rem;
        color:  var(--colorText);
        margin-bottom: 5px;
        font-weight: 500;
        
        font-family: var(--font);
    }
    .mains{
        display: grid;
        gap: 25px 0;
    }
     .grid-title{
        margin-bottom: 20px;
    
    }
    .main-main{
        display: flex;
        justify-content: space-between;
        gap: 0 15px;
        transition:  box-shadow .3s;
    }
  
    .main-title{
        font-family: var(--font);
        font-size: .8125rem;
        text-align: justify;  
        line-height: 1.6;
     
    }

     
    .main-image{
        order: 2;
        img{
            display: block;
            width: 130px;
            height: 90px;
            object-fit: cover;
            border-radius: 3px;
        }
    }
       .main-title{
         font-family: var(--font);
        font-size: .8125rem;
        text-align: justify;  
        line-height: 1.6;
    }
  

    .main-date{
        font-size: var(--MiniSize);
        color: var(--colorText);
        font-style: italic;
        margin-left: 10px;
        font-family: var(--font);
        font-weight: 300;

}
    .main-category{
        font-size: var(--MaxSize);
        background-color: var(--blues);
        font-family: var(--font);
        color: white;
        padding: 3px;
        font-weight: 300;
        font-style: italic;
        border-radius: 2px;
        text-transform: capitalize;
        
}
  .main-categories{
        display: flex;
        justify-content: space-between;
    }
 
    .main-main{
        display: flex;
        justify-content: space-between;
        gap: 0 15px;
    }
    .main-title:hover{
        text-decoration:underline var(--blues) 1.5px;
        transition: .3s;
        color: var(--blues);
    } 
.main-category.sport{
    background: var(--sport) ;
}
.main-category.culture{
    background: rgb(196, 9, 87);
}
.main-category.tech{
    background: var(--tech);
}
.main-category.music{
    background: var(--music);
}
 .main-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 1;
         width: 100%;
      
    }
}

@media only  screen and (max-width:300px){
   
    .main-grids{
      
        .mains{
            display: grid;
            grid-template-columns: 1fr;
            gap: 25px  0px;
        }

        .main-main{
            display: block;
            
    }
     .main-title{
        font-family: var(--font);
        font-size: .8125rem;
        text-align: justify;  
        line-height: 1.6;
        margin: 5px 0;
      
     
    }

     .main-image{
        order: 2;
        img{
            display: block;
            width: 100% !important;
            height: 120px !important;
        }
    }
          
    }
}
@media only  screen and (max-width:395px){
    .main-grids{
            .main-date{
            font-size: .6875rem;
            color: var(--colorText);
            margin-left: 10px;
            font-family: var(--font);
            font-weight: 500;
        }
        .main-title{
            font-size: .75rem !important;
            font-family: var(--font);
       
    }
            .main-category{
            font-size: 10px;
            background-color: var(--blues);
            font-family: var(--font);
            color: white;
            padding: 3px;
            border-radius: 2px;
            text-transform: capitalize;
        
}
.main-text{
      gap: 5px 0 ;
      
    }
    .main-image{
        img{
            display: block;
            width: 95px;
            height: 50px;
            object-fit: cover;
            border-radius: 3px;
        }
    }
    }
}

@media only  screen and (max-width:900px) and (min-width:540px) {

 
    .main-grids{
   
    .main-text{
       
        margin-top: 10px;
    }

    .main-main{
        display: block;
    }
        .main-category{
        font-size: var(--MaxSize);
     
}

        .main-title{
            font-family: var(--font);
            font-size: .84375rem;
            line-height: 1.5;
        }
        .mains{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px  10px;
        }
 

        .main-image{
            img{
                display: block;
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 3px;
            }
         }
      
    }
    
}
@media only  screen and (max-width:950px) and (min-width:701px) {

  
    .main-grids{
 
    .main-main{
        display: block;
    }
           .mains{
            display: grid;
            grid-template-columns: 1fr  1fr 1fr;
            flex-wrap: wrap;
            gap: 20px  10px;
        }
 

         .main-title{
        font-size: 13px;
        line-height: 1.5;
    }
          .main-image{
        img{
            display: block;
            width: 100%;
            height: 155px;
            object-fit: cover;
        }
    }

    .main-text{
       
        margin-top: 10px;
    }
      .main-categories{
       margin-top: 5px;
    }
    }
    
}

@media only  screen and (max-width:1100px) and (min-width:920px) { 
    .main-grids{
        .mains{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px ;
        }
         .main-main{
            display: block;
           
    }
        .main-image{
        
                img{
                    width: 100%;
                    height: 150px;
            
                }
    }

    .main-text{
        display: flex;
        gap: 5px 0;
        margin-top: 5px;
    }
        .main-title{
        font-size: 14px;
        line-height: 1.6;
    }

     .grid-title{
        margin-bottom: 12px;
    }
}
}
@media only  screen and (min-width:1101px)  {

   
    .main-grids{
        .mains{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px ;
        }
         .main-main{
            display: block;
           
    }
        .main-image{
        
                img{
                    width: 100%;
                    height: 150px;
            
                }
    }

    .main-text{
        display: flex;
        gap: 5px 0;
        margin-top: 5px;
    }
        .main-title{
        font-size: 14px;
        line-height: 1.6;
    }

     .grid-title{
        margin-bottom: 12px;
    }
}
}