.nav-navbar{
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.192);
    


    .nav-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-top-logo{
        font-size: 1.2rem;
        font-family: var(--font1);

        span{
            color: var(--blues);
            font-style: italic;
        }
    }
}

