.revues{

    margin: 10px 0 40px 0;
  
    .revue-title{
        text-transform: capitalize;
        font-size: 1.4375rem;
        color:  var(--colorText);
        font-weight: 500;
        font-family: var(--font1);
        
    }
    .card-text{
        margin-top: 10px;
       
        
    }
       .card-revue-title{
        color: rgba(0, 0, 0, 0.973);
        line-height: 1.3;
        font-family: var(--font);
        font-weight: 400;
        font-size: 1rem;
        text-align: justify;
        margin-bottom: 2px;
      
    }
    .revue-flex{
        gap:0 10px;
        display: flex;
        overflow:hidden;
     }
    .card-revue-text{
        font-family: var(--font1);
        text-align: justify;
        font-size: 14px;
    
        font-weight: 400;
        color: rgba(0, 0, 0, 0.685);
    }
    .card-revue{
        min-width: 260px;
        overflow: hidden;
        padding-top: 10px;
    }
}