.revues{
    padding-bottom: 30px;

    .revue-title{
        text-transform: capitalize;
        font-size: 1.4375rem;
        color:  var(--colorText);
        font-weight: 500;
        font-family: var(--font);
        
    }
    .revue-flex{
        display: flex;
        gap: 0 15px;
        overflow: hidden;
    }
    .card-revues{
        width: 230px;
        
    }
    .card-revue{
        padding-top: 15Px;
        
        img{
            border-radius: 2px;
        }
       
    }
    .card-revue-title{
        color: rgba(0, 0, 0, 0.973);
        line-height: 1.3;
        font-family: var(--font);
        font-weight: 500;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .card-revue-text{
        font-family: var(--policy);
        text-align: justify;
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.685);
    }

}