.navs-sleader {
    display: flex;
    gap: 0 7px;
    overflow: hidden; 
    white-space: nowrap;
    cursor: grab;   
    padding-bottom: 12px;
    font-style: italic;
}




.navs-sleader-items {
    display: inline-block;
    color: var(--colorText);
    opacity: .8;
    border: 1px solid var(--blues);
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font);
    text-transform: capitalize;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    text-wrap: nowrap;
    transition: .7s; 
}

.navs-sleader-items:hover {
    color: rgba(255, 255, 255, 0.788);
    background: var(--blues);
}

.navs-sleader-items.active {
    color: rgba(255, 255, 255, 0.788);
    background: var(--blues);
    border: 1px solid transparent;
}


  @media only  screen and (max-width:1049px) and (min-width:920px) {

    
    .navs-sleader {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-top: 52px;
    cursor: pointer;
    
    }
    .navs-sleader-items {
    display: block;
      width: 120px;
        padding: 5px;
}

}


@media only  screen and (min-width:1050px) {
 .navs-sleader {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-top: 52px;
    cursor: pointer;
    
    }
    .navs-sleader-items {
    display: block;
      width: 120px;
        padding: 5px;
}

}