.sporing{
    margin-bottom: 30px;
 
    .sporing-sporing-image{
        img{
           display: block;
            min-width: 160px; 
            height: 100px;
            border-radius: 5px;
            
        }
    }
      .sporing-title{
        text-transform: capitalize;
        font-size: 1.4375rem;
        text-align: left;
        color:  var(--colorText);
        font-weight: 500;
        font-family: var(--font1) !important;
        
    }
    .sporings-text{
        font-family: var(--font1);
        font-size: 13px;
        text-align: justify;
    }
    .sporings-title{
        font-family: var(--font); 
        text-transform: capitalize;
        font-style: italic;
        font-size: 15px;
        margin: 5px 0;
        font-weight: 500;
    }
    .sporing-flex{
        padding-top: 10px;
        gap:  10px 5px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

}
@media only  screen and (max-width:350px){
   .sporing{
  
 
    .sporing-sporing-image{
        img{
           
            width: 100%; 
          
        }
    }
      .sporing-title{
        text-transform: capitalize;
        font-size: 1.4375rem;
        text-align: left;
        color:  var(--colorText);
        font-weight: 500;
        font-family: var(--font);
        
    }
    .sporings-text{
        font-family: var(--font1);
        font-size: 15px;
        text-align: justify;
    }
    .sporings-title{
        font-family: var(--font); 
        text-transform: capitalize;
        font-style: italic;
        font-size: 16px;
        margin: 5px 0;
        font-weight: 500;
    }
    .sporing-flex{
        padding-top: 10px;
        gap:  15px 0px;
        display: grid;
        grid-template-columns: 1fr;
    }

}
  
}
  @media only  screen and (max-width:830px) and (min-width:600px) {
  

  
    .sporing{
        .sporing-sporing-image{
        img{
           display: block;
            min-width: 160px; 
            height: 120px;
            
            border-radius: 5px;
        }
    }
        .sporings-text{
            font-family: var(--font1);
            font-size: 15px;
            text-align: justify;
    }
    

}
}
  @media only  screen and (max-width:1000px) and (min-width:831px) {
  

  
    .sporing{
        .sporing-sporing-image{
        img{
           display: block;
            min-width: 160px; 
            height: 140px ;
            
            border-radius: 5px;
        }
    }
        .sporings-text{
            font-family: var(--font1);
            font-size: 15px;
            text-align: justify;
    }
    

}
}
@media only  screen and (min-width:832px){
   .sporing{
  
 
    .sporing-sporing-image{
        img{
           
            width: 100%; 
             height: 150px;
          
        }
    }
      .sporing-title{
        text-transform: capitalize;
        font-size: 1.4375rem;
        text-align: left;
        color:  var(--colorText);
        font-weight: 500;
        ;
        
    }
    .sporings-text{
        font-family: var(--font1);
        font-size: 15px;
        text-align: justify;
    }
    .sporings-title{
        font-family: var(--font); 
        text-transform: capitalize;
        font-style: italic;
        font-size: 16px;
        margin: 5px 0;
        font-weight: 500;
    }
    .sporing-flex{
        padding-top: 10px;
        gap:  0px 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}
  
}