.section-video{
 
    padding-bottom: 10px;
    padding-top:10px ;
    margin-top: 10px;
    position: relative;

    .icone-sleader{
      
        display: flex;

        justify-content: space-between;

        align-items: center;
        cursor: pointer;
        svg{
            width: 20px;
            height: 20px;
          
        }

        .forward-icone{
           position: absolute;
           top: 45%;
           right: 100px;
           margin: 0 10px;
        }
         .forward .inverse{
                transform:rotatez(180deg)
              
            }
    }
    .forward-icone{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.651);
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    
    .section-video-image{
        cursor: pointer;
            width: 176px;
            height: 313px;
        img{
            
            width: 100%;
            aspect-ratio: 388 / 689;
            object-fit: cover;

        }
    }
    .section{
        position: relative;
        width: 176px;
    }
    .section-video-top-title{
            color: rgba(0, 0, 0, 0.856);
            line-height: 1.3;
            font-family: var(--font);
            font-weight: 500;
            font-size: 14px;
            padding-top: 10px;
            text-align: justify;

    }
    .horloge{
        opacity: .8;
            width: 17px;
            height: 17px;
    }
    .botton-text{
        font-weight: 400;
        font-family: var(--font);
        font-size: 12px;
    }
    .botton-time{
        display: flex;
        align-items: center;
        gap: 0 5px;
        padding-top: 5px;
    }
    .sections-videos{
        display: flex;
        gap: 0 15px;
        overflow: hidden;
    }
    .play-play{
        display: block;
        position: absolute;
        bottom:  115px;
        cursor: pointer ;
        right: 5px;
        width: 40px ;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        height: 40px;
        transition: .6s;
    }

    .play{
        position: absolute;
        left: 24%;
        top: 20%;
    }
   
    .video-grid-title{
        font-size: 1.4375rem;
        color:  var(--colorText);
        font-weight: 500;
        font-family: var(--font1);
        margin-bottom: 15Px;
    }
    .section-video-image::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 313px;
        width: 100%;
       background:    linear-gradient(
      to bottom left, 
      rgba(0, 0, 139, 0.2) 0%,       
      rgba(0, 0, 0, 0.6) 60%,        
      rgba(0, 0, 0, 0.9) 100%
      );
    }

}